<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/ckeditor.js"></script>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/admin.css">
    <title>Document</title>
</head>

<body>
    <%- include('./partials/header'); %>
        <div class="grid wide">
            <div class="admin">

                <div class="row">
                    <div class="col m-3">
                        <div class="admin__left">
                            <div class="menu">
                                <ul class="menu_list">
                                    <li class="menu_item active">
                                        <i class='bx bx-home'></i>
                                        Trang Chủ Admin
                                    </li>
                                    <li class="menu_item">
                                        <i class='bx bx-user'></i>
                                        Quản Lý Tài Khoản
                                    </li>
                                    <li class="menu_item">
                                        <i class='bx bx-list-ul'></i>
                                        Quản Lý Sản Phẩm
                                    </li>
                                    <li class="menu_item">
                                        <i class='bx bx-slideshow'></i>
                                        Quản Lý Tin Tức
                                    </li>
                                    <li class="menu_item">
                                        <i class='bx bx-news'></i>
                                        Quản Lý Đơn Hàng
                                    </li>


                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col m-9">
                        <div class="title">
                            <h2>Quản Lý Tin Tức</h2>
                        </div>
                        <div class="btn_direc">
                            <button id="add">Thêm </button>
                            <button id="edit">Sửa </button>
                            <form action="/news/del" id="formdel" method="post">
                                <input type="text " id="idE" name="id" hidden>
                                <button id="del">Xóa </button>
                            </form>
                        </div>
                        <div class="wpaper hiden">
                            <div class="form_ ">

                            </div>
                            <div class="form">
                                <h2 id="form_title">Thêm Tin Tức</h2>
                                <form class="news_add " id="form" action="/news" method="post">
                                    <div class="form_group">
                                        <span>Tiêu Đề:</span>
                                        <input type="text " id="id" name="id" hidden>
                                        <input id="title" type="text" name="title">
                                    </div>
                                    <div class="form_group">
                                        <span>Tóm Tắt:</span>
                                        <input id="tomtat" type="text" name="tomtat">
                                    </div>
                                    <div class="form_group">
                                        <span> Nội Dung:</span>
                                        <textarea name="editor" id="editor"></textarea>
                                    </div>
                                    <div class="form_group">

                                        <span>Nhóm tin:</span>
                                        <select id="" name="newsgroup">
                                            <% for (var i=0; i < newsgroup.length; i++) { %>
                                                <option value="<%= newsgroup[i].id %>">
                                                    <%= newsgroup[i].name %>
                                                </option>
                                                <% } %>
                                        </select>
                                    </div>
                                    <div class="form_group">
                                        <button class="hiden" id="btn_addd">Thêm</button>
                                        <button class="hiden" id="btn_edit">Sửa</button>
                                    </div>


                                </form>
                            </div>
                            <span id="exit">X</span>

                        </div>



                        <table>
                            <tr>
                                <th></th>
                                <th>Tiêu đề</th>
                                <th>Tóm Tắt</th>
                                <th>Nội Dung</th>
                                <th>Ngày viết</th>
                                <th>Tác giả</th>

                            </tr>
                            <% for (var i=0; i < news.length; i++ ) { %>
                                <tr>
                                    <td><input class="checkbox" value=" <%= news[i].id %>" type="checkbox">

                                    </td>
                                    <td>
                                        <%= news[i].title %>
                                    </td>
                                    <td>
                                        <%= news[i].tomtat %>
                                    </td>

                                    <td>
                                        <%- news[i].content %>
                                    </td>
                                    <td>
                                        <%= news[i].date %>
                                    </td>
                                    <td>
                                        <%= news[i].author %>
                                    </td>


                                </tr>
                                <% } %>
                        </table>
                    </div>

                </div>

            </div>

            <script src="/js/ck.js"></script>
            <script src="/js/admin.js"> </script>
</body>

</html>