<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/ckeditor.js"></script>
    <link rel="stylesheet" href="/css/adminssions.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <title>Tuyển Sinh</title>
</head>

<body>

    <form action="/tuyensinh/add" method="post" enctype="multipart/form-data">
        <div class="title">
            <img src="/img/logo.png" alt="">
            <h2>Biểu mẫu đăng ký tuyển sinh</h2>
        </div>
        <div class="container">
            <div class="section">
                <h3>Thông tin ứng tuyển</h3>
                <div class="form-group">
                    <label for="name">Họ và tên:</label>
                    <input type="text" id="name" name="name">
                </div>


                <div class="form-group">
                    <label for="gender">Giới tính:</label>
                    <select height="40px" id="gender" name="gender">
                        <option value="male">Nam</option>
                        <option value="female">Nữ</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="dob">Ngày sinh:</label>
                    <input type="date" id="dob" name="dob">
                </div>



                <div class="form-group">
                    <label for="phone">Số điện thoại:</label>
                    <input type="tel" id="phone" name="phone">
                </div>

                <div class="form-group">
                    <label for="id_card">Căn cước công dân:</label>
                    <input type="text" id="id_card" name="id_card">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email">
                </div>
            </div>
            <div class="section">
                <h3>Địa chỉ cư trú</h3>
                <div class="form-group">
                    <div class="third">
                        <label for="province">Tỉnh/Thành phố:</label>
                        <select id="province" name="province">
                            <option value="hn">Hà Nội</option>
                            <option value="hcm">Hồ Chí Minh</option>
                            <!-- Thêm các option khác tại đây -->
                        </select>
                    </div>
                    <div class="third">
                        <label for="district">Quận/Huyện:</label>
                        <select id="district" name="district">
                            <option value="q1">Quận 1</option>
                            <option value="q2">Quận 2</option>
                            <!-- Thêm các option khác tại đây -->
                        </select>
                    </div>
                    <div class="third">
                        <label for="ward">Phường/Xã:</label>
                        <select id="ward" name="ward">
                            <option value="phuong1">Phường 1</option>
                            <option value="phuong2">Phường 2</option>
                            <!-- Thêm các option khác tại đây -->
                        </select>
                    </div>
                </div>
            </div>
            <div class="section">
                <h3>Môn học muốn đăng ký</h3>

                <div class="form-group">
                    <label for="course">Môn học đăng ký:</label>
                    <select id="course" name="course" value="<%= id %>">
                        <% for (var i=0; i < subject.length; i++ ) { %>
                            <option value="<%= subject[i].id %>" <%=subject[i].id==id ? 'selected' : '' %>>
                                <%= subject[i].name %>
                            </option>
                            <% } %>
                    </select>
                </div>
                <div class="form-group  class_info hidden">
                    <label for="course">Lớp học có sẵn:</label>
                    <select id="class_info" name="course">
                    </select>
                </div>
                <div class="form-group class_res">
                    <div class="third">
                        <label for="province">Ngày bắt đầu:</label>
                        <input type="date" class="" name="date_class">
                    </div>
                    <div class="third">
                        <label for="district">Giờ bắt đầu:</label>
                        <select id="" name="district">
                            <option value="08:00:00">08:00:00</option>
                            <option value="09:00:00">09:00:00</option>
                            <option value="10:00:00">10:00:00</option>
                            <option value="14:00:00">14:00:00</option>
                            <option value="15:00:00">15:00:00</option>
                            <option value="16:00:00">16:00:00</option>
                            <option value="19:00:00">19:00:00</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="section">
                <h3>Thông tin chuyển khoản</h3>
                <p><strong>Thông tin chuyển khoản:</strong></p>
                <ul>
                    <li>Chủ tài khoản: NGUYỄN THỊ THU HIỀN (Phòng Đào tạo Trường đại học Hạ Long)</li>
                    <li>STK: 05001012531817</li>

                    <li>MSB - Ngân hàng TMCP Hàng hải Việt Nam</li>
                </ul>
                <p><strong>Lưu ý khi chuyển khoản:</strong></p>
                <ul>
                    <li>Ghi nội dung theo cú pháp: Họ tên thí sinh + số CMND/CCCD + Mã ngành đăng ký</li>
                    <li>Lệ phí xét tuyển: 30.000đ/ 01 Nguyện vọng đăng ký xét tuyển</li>
                </ul>
                <p><strong>Tải file hình ảnh chuyển khoản thành công:</strong></p>
                <input type="file" id="payment_proof" name="payment_proof" accept="image/*">
            </div>

            <div class="section">
                <h3>Thông tin giấy tờ</h3>
                <div class="form-group">
                    <label for="id_image">Hình ảnh căn cước công dân:</label>
                    <input type="file" id="id_image" name="id_image" accept="image/*">
                </div>
                <div class="form-group">
                    <label for="diploma_image">Hình ảnh bằng cấp:</label>
                    <input type="file" id="diploma_image" name="diploma_image" accept="image/*">
                </div>
            </div>
            <button id="btn" type="submit">Gửi đăng ký</button>
        </div>
    </form>
    <%- include('./partials/footer'); %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="/js/adminssions.js"></script>
        <script src="/js/index.js"> </script>
</body>

</html>