<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/grid.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <title>Document</title>
</head>

<body>
    <%- include('./partials/header'); %>

        <div class="body">
            <div class="grid wide">
                <div class="body_top">

                    <div class="slideshow-container">
                        <% for (var i=0; i < banner.length; i++ ) { %>
                            <div class="slide fade">
                                <img src="  <%= banner[i].image %>" style="width:100%">
                            </div>
                            <% } %>


                                <a class="prev" onclick="moveSlide(-1)">&#10094;</a>
                                <a class="next" onclick="moveSlide(1)">&#10095;</a>
                    </div>

                    <div style="text-align:center">
                        <span class="dot" onclick="currentSlide(1)"></span>
                        <span class="dot" onclick="currentSlide(2)"></span>
                        <span class="dot" onclick="currentSlide(3)"></span>
                    </div>

                </div>

                <div class="news">
                    <div class="row">
                        <div class="col m-8">
                            <div class="news_title">
                                <h3>Tin Tức - Sự Kiện</h3>
                            </div>
                            <div class="news_new">
                                <div class="news_outstanding">

                                    <a href="/news/newsDetail <%=news[i].id %>">
                                        <div class="row">

                                            <div class="col m-6">
                                                <div class="outstanding_img">
                                                    <img src="<%= result[0] %>" alt="">
                                                </div>
                                                <div class="row">
                                                    <div class="col m-6">
                                                        <div class="outstanding_img">
                                                            <img src="/<%= news[0].thumb_news %>" alt="">
                                                        </div>
                                                        <div class="col m-6">
                                                            <div class="new_title">
                                                                <h4>
                                                                    <%= news[0].title %>
                                                                </h4>
                                                                <p>
                                                                    <%= news[0].tomtat %>
                                                                </p>
                                                                <div class="new_time">
                                                                    <span><i class="fa-solid fa-calendar"></i>
                                                                        <%= news[0].date %>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                    </a>


                                </div>
                            </div>
                            <div class="news_">

                                <div class="row">
                                    <% for (var i=1; i < 5; i++ ) { %>
                                        <div class="col m-6">

                                            <div class="news_outstanding">

                                                <div class="row">

                                                    <div class="col m-6">
                                                        <div class="outstanding_img news_smail_img ">

                                                            <img src="<%= result[i] %>" alt="">
                                                            <img src="/<%= news[i].thumb_news %>" alt="">

                                                        </div>
                                                    </div>
                                                    <div class="col m-6">
                                                        <a href="/news/newsDetail<%=news[i].id %>">
                                                            <div class="new_title news_smail">
                                                                <div class="new_time">
                                                                    <span class="smail_time">
                                                                        <i class="fa-solid fa-calendar"></i>
                                                                        <%=news[i].date %>
                                                                    </span>
                                                                </div>
                                                                <h4>
                                                                    <%= news[i].title %>
                                                                </h4>

                                                            </div>
                                                        </a>
                                                    </div>


                                                </div>


                                            </div>
                                        </div>
                                        <% } %>

                                </div>
                            </div>


                        </div>
                        <div class="col m-4">
                            <div class="hot_news">
                                <div class="news_title">
                                    <h3>Tin Nổi Bật</h3>
                                </div>
                                <div class="hot">
                                    <ul class="hot_list">
                                        <% for (var i=5; i < 8; i++ ) { %>
                                            <li class="hot_item">
                                                <a href="/news/newsDetail <%=news[i].id %>">

                                                    <%= news[i].title %>
                                                </a>
                                            </li>
                                            <% } %>


                                    </ul>
                                </div>
                            </div>
                            <div class="hot_news">
                                <div class="news_title">
                                    <h3>Tin Tuyển Dụng</h3>
                                </div>
                                <div class="hot">
                                    <ul class="hot_list">
                                        <% for (var i=0; i < 6; i++ ) { %>
                                            <li class="hot_item">
                                                <a href="/tuyensinh/<%= news_adminssions[i].id %>">
                                                    <%= news_adminssions[i].title %>
                                                </a>
                                            </li>
                                            <% } %>

                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="admissions">
                    <div class="admissions_title">
                        <h4>TUYỂN SINH</h4>
                    </div>
                    <div class="line"></div>
                    <div class="admissions_img">

                        <div class="row">
                            <div class="col m-4">
                                <a href="/subject"><img src="/img/a1.png" alt=""></a>
                            </div>
                            <div class="col m-4">
                                <a href="/tuyensinh/form"><img src="/img/a2.png" alt=""></a>
                            </div>
                            <div class="col m-4">
                                <a href="/tuyensinh/"><img src="/img/a3.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="admissions_banner">
                        <img src="/img/a4.png" alt="">
                    </div>

                </div>

            </div>
            <%- include('./partials/footer'); %>
        </div>
        <script>
            let slideIndex = 1;
            showSlides(slideIndex);

            function moveSlide(n) {
                showSlides(slideIndex += n);
            }

            function currentSlide(n) {
                showSlides(slideIndex = n);
            }

            function showSlides(n) {
                let i;
                const slides = document.getElementsByClassName("slide");
                const dots = document.getElementsByClassName("dot");
                if (n > slides.length) { slideIndex = 1 }
                if (n < 1) { slideIndex = slides.length }
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                for (i = 0; i < dots.length; i++) {
                    dots[i].className = dots[i].className.replace(" active", "");
                }
                slides[slideIndex - 1].style.display = "block";
                dots[slideIndex - 1].className += " active";
            }

            setInterval(function () {
                moveSlide(1);
            }, 2000);

        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="/js/index.js"> </script>

</body>

</html>