<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/ckeditor.js"></script>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/admin.css">
    <title>Document</title>
</head>

<body>
    <%- include('./partials/header'); %>
        <div class="grid wide">
            <div class="admin">

                <div class="row">
                    <div class="col m-3">
                        <%- include('./partials/sidebar_admin'); %>
                    </div>
                    <div class="col m-9">
                        <div class="title">
                            <h2>Quản Lý Giáo Viên</h2>
                        </div>
                        <div class="btn_direc">
                            <button id="add">Thêm </button>
                            <button id="edit">Sửa </button>
                            <form action="/teacher/del" id="formdel" method="post">
                                <input type="text " id="idE" name="id" hidden>
                                <button id="del">Xóa </button>
                            </form>
                        </div>
                        <div class="wpaper hiden">
                            <div class="form_ ">

                            </div>
                            <div class="form">
                                <h2 id="form_title">Thêm Giáo Viên</h2>
                                <form class="news_add " enctype="multipart/form-data" action="" id="form2"
                                    method="post">
                                    <div class="form_group">
                                        <span>Họ Tên:</span>
                                        <input type="text " id="id" name="id" hidden>
                                        <input id="title" type="text" name="name">
                                    </div>
                                    <div class="form_group">
                                        <span>Số Điện Thoại:</span>
                                        <input id="sdt" type="text" name="title">
                                    </div>
                                    <div class="form_group">
                                        <span>Ngày sinh:</span>
                                        <input id="date" type="date" name="date">
                                    </div>
                                    <div class="form_group">
                                        <span>Thumb: </span>
                                        <input type="file" name="img">
                                    </div>
                                    <div class="form_group">
                                        <span> Địa Chỉ:</span>
                                        <input id="address" type="text" name="address">
                                    </div>
                                    <div class="form_group">
                                        <span> Vị Trí:</span>
                                        <input id="position" type="text" name="position">
                                    </div>
                                    <div class="form_group">
                                        <span> Mail:</span>
                                        <input id="mail" type="mail" name="mail">
                                    </div>
                                    <div class="form_group">
                                        <span> Chức vụ:</span>
                                        <select name="gt" id="gt">
                                            <% for (var i=0; i < gt.length; i++ ) { %>
                                                <option value="<%= gt[i].id %>">
                                                    <%= gt[i].name %>
                                                </option>
                                                <% } %>
                                        </select>
                                    </div>
                                    <div class="form_group">
                                        <button class="hiden" id="btn_addd">Thêm</button>
                                        <button class="hiden" id="btn_edit">Sửa</button>
                                    </div>


                                </form>
                            </div>
                            <span id="exit">X</span>

                        </div>



                        <table>
                            <tr>
                                <th></th>
                                <th>Hình Ảnh</th>
                                <th>Tên</th>
                                <th>Ngày Sinh</th>
                                <th>SĐT</th>
                                <th>Địa Chỉ</th>
                                <th>Chức Vụ</th>
                                <th>Vị trí</th>
                                <th>Mail</th>

                            </tr>
                            <% for (var i=0; i < teacher.length; i++ ) { %>
                                <tr>
                                    <td><input class="checkbox" value=" <%= teacher[i].id %>" type="checkbox">

                                    </td>
                                    <td>
                                        <div class="Admin_img">
                                            <img src=" /<%= teacher[i].img %>" alt="">

                                        </div>
                                    </td>
                                    <td>
                                        <%= teacher[i].name %>
                                    </td>

                                    <td>
                                        <%= teacher[i].brith%>
                                    </td>
                                    <td>
                                        <%= teacher[i].phone %>
                                    </td>
                                    <td>


                                        <%- teacher[i].address %>

                                    </td>
                                    <td>
                                        <% if (teacher[i].position_group===0) { %>
                                            Giám đốc
                                            <% } else if (teacher[i].position_group===1) { %>
                                                Phó giám đốc
                                                <% } else if (teacher[i].position_group===3) { %>
                                                    Giảng viên
                                                    <% } else if (teacher[i].position_group===4) { %>
                                                        Nhân viên
                                                        <% } %>
                                    </td>
                                    <td>
                                        <%= teacher[i].email %>
                                    </td>
                                    <td>
                                        <%= teacher[i].position %>
                                    </td>




                                </tr>
                                <% } %>
                        </table>
                    </div>

                </div>

            </div>
        </div>

        <%- include('./partials/footer'); %>s
            <script src="/js/ck.js"></script>
            <script src="/js/teacher.js"> </script>
</body>

</html>