<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/news/news.css">
    <link rel="stylesheet" href="/css/grid.css">
    <title>

    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
    <%- include('../partials/header.ejs'); %>
        <div class="grid wide">
            <% if (news) { %>



                <div class="content">
                    <nav>
                        <ul>
                            <li><a href="/">Trang chủ</a></li>>
                            <li><a href="/news">Tuyển sinh</a></li>>
                            <li>
                                <%= news.title %>
                            </li>
                        </ul>
                    </nav>


                    <div class="content">
                        <h2>
                            <%= news.title %>
                        </h2>
                        <p>
                            <%- news.content %>
                        </p>
                        <div class="author">
                            <div class="time">
                                <%= news.date %>
                            </div>
                            =
                        </div>
                    </div>
                    <div class="comment">

                        <div class="fb-comments" data-href="https://nckh-v4cv.onrender.com/introduce" data-width="auto"
                            data-numposts="5"></div>
                    </div>
                </div>
                <% } %>
        </div>


        <%- include('../partials/footer.ejs'); %>
            <script async defer crossorigin="anonymous"
                src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v19.0&appId=954914929286425"
                nonce="XedaI3Yc"></script>
            <script src="/js/index.js"> </script>
</body>

</html>