<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/ckeditor.js"></script>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/admin.css">
    <title>Document</title>
</head>

<body>
    <%- include('../partials/header'); %>
        <div class="grid wide">
            <div class="admin">

                <div class="row">
                    <div class="col m-3">
                        <%- include('../partials/sidebar_admin'); %>
                    </div>
                    <div class="col m-9">
                        <div class="content">

                        </div>


                    </div>

                </div>

            </div>
            <script>
                var value = document.getElementById('content')

                const menu_item = document.querySelectorAll('.menu_item')

                const content = document.getElementById('content')

                console.log(document.getElementById('admin_content'));


                menu_item.forEach((e, i) => {
                    e.onclick = () => {
                        if (i == 0) {
                            content.innerHTML = ` <%- include('../partials/noti.ejs'); %>`;
                        }
                        if (i == 1) {
                            content.innerHTML = ` <%- include('../partials/news_admin.ejs'); %>`;
                        }
                        if (i == 2) {
                            content.innerHTML = ` <%- include('../partials/teacher.ejs'); %>`
                        }
                        if (i == 3) {
                            content.innerHTML = ` <%- include('../partials/teacher.ejs'); %>`
                        }
                    }
                })

            </script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
            <script src="/js/manager.js">
            </script>
            <script src="/js/ck.js"></script>


</body>

</html>