<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/news/index.css">
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>
        select {
            margin-top: 5px;
            width: 100%;
            border: 1px solid #dee2e6;
            font-weight: 400;
            font-size: 0.875rem;
            border-radius: 4px;
            height: 2rem;
            margin-left: 10px;
            padding: 0 10px;
            outline: none;
        }

        .third {
            margin-right: 20px;
        }

        .third select {
            color: #333;
            height: 30px;
            padding: 0 5px;
            border-radius: 4px;
            border: 1px solid #ccc;
            outline: none;
            font-size: 16px;
        }

        #district,
        #ward,
        #province {
            font-size: 12px;
        }

        .address {
            display: flex;
        }

        .input-list {
            display: flex;
            align-items: center;
        }
    </style>

    <title>Document</title>
</head>

<body>
    <div class="container">
        <%- include('../partials/sidebar_admin_news'); %>
            <div class="flex_1">
                <div>

                    <%- include('../partials/header_admin'); %>

                        <div class="content">

                            <div class="content_body">
                                <div class="card">
                                    <div class="card-body">

                                        <div class="body_title">
                                            <h3>Thêm Học Viên</h3>
                                        </div>
                                        <form action="/couse/updatehocvien" id="form_add" class="form_add"
                                            method="post">
                                            <div class="form-group">
                                                <input type="text" id="id" value="<%= row.id %>" name="id" hidden>
                                                <label for="title">Họ và Tên:</label>
                                                <input type="text" id="name" value="<%= row.name %>" name="name"
                                                    required>
                                            </div>
                                            <div class="form-group">
                                                <label for="">Giới Tính:</label>
                                                <select name="gender" value="<%= row.gender %>" id="">
                                                    <option value="" hidden>-- Hãy chọn giới tính --</option>
                                                    <option value="1">Nam</option>
                                                    <option value="2">Nữ</option>
                                                    <option value="3">Khác</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="title">Sdt:</label>
                                                <input type="text" id="name" value="<%= row.sdt %>" name="sdt" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="summary">Ngày Sinh:</label>
                                                <input id="summary" type="date" value="<%= time %>" name="summary"
                                                    required></input>
                                            </div>
                                            <div class="input-list address" id="select">
                                                <div class="third">
                                                    <label for="province">Tỉnh/Thành phố:</label>
                                                    <select id="province" value="<%= address[2] %>" name="province">
                                                        <option value="">
                                                            Thành Phố Hà Nội
                                                        </option>

                                                        <!-- Thêm các option khác tại đây -->
                                                    </select>
                                                </div>

                                                <div class="third">
                                                    <label for="district">Quận/Huyện:</label>
                                                    <select id="district" value="<%= address[1] %>" name="district">
                                                        <option value="">
                                                            Thành Phố Hà Nội
                                                        </option>

                                                    </select>
                                                </div>

                                                <div class="third">
                                                    <label for="ward">Phường/Xã:</label>
                                                    <select id="ward" value="<%= address[0] %>" name="ward">
                                                        <option value="">
                                                            Thành Phố Hà Nội
                                                        </option>

                                                    </select>
                                                </div>
                                            </div>


                                            <div class="form-group"><input type="submit" id="btn" value="Thêm Học Viên">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>


    </div>

    <script src="https://cdn.ckeditor.com/ckeditor5/41.3.1/classic/ckeditor.js"></script>
    <script src="/js/address.js"> </script>


    <script>
        document.getElementById("form_add").addEventListener("submit", function (event) {
            // Hiển thị cửa sổ xác nhận
            var isConfirmed = confirm("Bạn chắc chắn muốn thêm học viên?");

            // Kiểm tra xem người dùng đã xác nhận hay không
            if (!isConfirmed) {
                // Nếu không xác nhận, ngăn chặn việc submit form
                event.preventDefault();
            }
        });





    </script>

</body>

</html>