<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/ckeditor.js"></script>
    <link rel="stylesheet" href="/css/admin_css.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <title>Document</title>
</head>

<body>
    <div class="container">
        <%- include('../partials/sidebar_admin_news'); %>

            <div class="flex_1">
                <div>
                    <%- include('../partials/header_admin'); %>

                        <div class="content">
                            <div class="body_title">
                                <h3>Học viên</h3>
                            </div>
                            <div class="content_body">

                                <div class="body_btn-add">
                                    <a href="/couse/addHocVien">
                                        <i class="fa-solid fa-plus"></i>
                                        Thêm học viên
                                    </a>
                                </div>

                                <div class="content_table">
                                    <table id="newsTable">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <div>STT</div>
                                                </th>
                                                <th>
                                                    <div>Họ và Tên</div>
                                                </th>
                                                <th>Code name</th>
                                                <th>Giới tính</th>
                                                <th>Số điện thoại</th>
                                                <th>Địa chỉ</th>

                                                <th></th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for (var i=0; i < couse.length; i++ ) { %>
                                                <tr id="col<%= couse[i].id %>">
                                                    <td>
                                                        <%= couse[i].id %>
                                                    </td>
                                                    <td style="width: 200px;">
                                                        <%= couse[i].name %>
                                                    </td>
                                                    <td>
                                                        <%= couse[i].code %>
                                                    </td>


                                                    <td>
                                                        <% if ( couse[i].gender==1 ) { %>
                                                            Nam

                                                            <% } %>
                                                                <% if ( couse[i].gender==2 ) { %>
                                                                    Nữ


                                                                    <% } %>
                                                                        <% if ( couse[i].gender==3 ) { %>
                                                                            >Khác

                                                                            <% } %>
                                                    </td>

                                                    <td>
                                                        <%= couse[i].sdt %>
                                                    </td>
                                                    <td style="width: auto;">
                                                        <%= couse[i].address %>
                                                    </td>

                                                    <td> <a href="/couse/edithocvien/<%= couse[i].id %>"><button
                                                                class="btn_table editButton">Sửa</button></a>
                                                    </td>
                                                    <td><button class=" btn_table  deleteButton">Xóa</button>
                                                    </td>

                                                </tr>
                                                <% } %>
                                                    <!-- Thêm các dòng tin tức khác tại đây -->
                                        </tbody>
                                    </table>
                                </div>

                            </div>

                        </div>
                </div>
            </div>


    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>



        const btn_del = document.querySelectorAll('.deleteButton')
        btn_del.forEach(item => {
            item.onclick = () => {
                var tr = item.parentNode.parentNode
                var listtd = tr.querySelectorAll('td')
                const id = listtd[0].outerText
                $.ajax({
                    url: '/couse/delhocvien',
                    type: 'POST',
                    data: {
                        id: id

                    },
                    success: function (data) {
                        window.location.href = '/admin/4'
                    },
                    error: function (xhr, status, error) {
                    }

                }
                )

            }
        })
        const btnAccept = document.querySelectorAll(".btnD")

        btnAccept.forEach(item => {
            item.onclick = () => {
                console.log("a");
                var tr = item.parentNode.parentNode
                var listtd = tr.querySelectorAll('td')
                const id = listtd[0].outerText
                const title = listtd[1].outerText
                $.ajax({
                    url: '/news/accept',
                    type: 'POST',
                    data: {
                        id: id,
                        title: title

                    },
                    success: function (data) {
                        window.location.href = '/admin/2'
                    },
                    error: function (xhr, status, error) {
                    }

                }
                )
            }
        })
    </script>
    <script src="/js/ck.js"></script>
    <script src="/js/noti.js"> </script>
    <script src="/js/index.js"> </script>
    <script src="/js/admin_js.js"> </script>
</body>

</html>